# Archieve
Archieve/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# github action result
semicolon_delimited_script

# Output
output/
svg-inkscape/

# MacOS
.DS_Store

# Node
node_modules/

# Astro
dist/
.astro/

# Orca
.orca/
